body{
    font-size: larger;
    font-weight: 600;
   
}
.main-section{
    width: 90%;
    margin: auto;
    background-color:grey;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}


h1{
  text-align: center;
  background-color:wheat;
  border-radius: 50px;

}
.first{
  color: aliceblue;
  background-color: black;
  padding:2px;
  border-radius:50px;
  text-align: center;
}
